@font-face {
  font-family: 'LEDCalculator';
  src: url('/calculator/assets/font/LEDCalculator.ttf');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.calculator {
  width: 380px;
  height: 570px;
  margin: 0 auto;
  padding: 50px 30px 30px 30px;
  border: 2px solid  #d6d6d6;
  border-radius: 15px;
  background: #f8f8f8;
}

.display {
  display: flex;
  justify-content: center;
  width: 100%;
}

.display-input {
  display: block;
  width: 85%;
  margin: 0;
  padding: 0 20px;
  height: 75px;
  border: 2px solid #76b8a2;
  border-radius: 8px;
  font-family: 'LEDCalculator';
  font-size: 2.6em;
  text-align: right;
  color: #1f4134;
  background-color: #8cd6bdaf;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 15px;
  width: 97%;
  height: 75%;
  margin: 40px auto 0;
}

.btn {
  width: 100%;
  height: 100%;
  border: 2px solid  #cccccc;
  border-radius: 8px;
  font-family: 'LEDCalculator';
  font-size: 1.8em;
  color: #4d4d4d;
  background-color: #f8f8f8;
  outline: none;
  cursor: pointer;
  transition: 0.15s;
}

.btn-equal {
  grid-row: span 2;
}

.btn-long {
  grid-column: span 2;
}

.btn-blue:hover {
  border: 2px solid  #0026ff20;
  background-color: #0026ff40;
}

.btn-red:hover {
  border: 2px solid  #ff000030;
  background-color: #ff000050;
}

.btn-orange:hover {
  border: 2px solid  #ff730030;
  background-color: #ff730050;
}

.btn-green:hover {
  border: 2px solid  #208f1630;
  background-color: #208f1650;
}

.btn-blue:active,
.btn-red:active,
.btn-orange:active,
.btn-green:active {
  transform: scale(0.97);
  box-shadow: 0 0 9px 0 rgba(80, 50, 50, 0.35) inset;
}